body {
    margin: 0;
    padding: 0;
    background-color: snow;
}

html {
    font-family: 'Roboto Mono';
}

nav {
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.95);
    margin: 0;
    padding: 0;
}


nav ul {
    list-style: none;
    padding: 0;
}

nav ul li{
    display: inline-block;
    margin-right: 100px;
}

nav ul li a {
    display: block;
    padding: 10px 20px; 
    border: 1px solid black;
    color: black;
    text-decoration: none;
    border-radius: 5px; 
    transition: background-color 0.3s ease; 
}

nav ul li a:hover {
    background-color: rgb(224, 223, 223);
}

#title {
    font-weight: 900;
    font-size: 50px;
    color: whitesmoke;
    text-align: center;
    letter-spacing: 3px;
    background-image: url('skyline.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 200px;
    position: relative;
    top: 45px;
    overflow: auto;
    z-index: 1;
}

.atraction-info h3,
#attraction-list {
    margin-left: 0px;
}

.atraction-info h3 {
    margin-left: 20px;
    font-family: Kanit;
    font-size: 50px;
}

#central-park {
    list-style: none;
    background-image: url('central-park.jpeg');
    background-size: cover;
    text-align: center;
    color: rgb(255, 68, 0);
    font-size: 50px;
    padding: 300px;
    margin-right: 40px;
    letter-spacing: 30px;
}

#central-park-text {
    font-family: Kanit;
    font-size: 30px;
    text-align: center;
    line-height: 3;
    letter-spacing: 5px;
    width: fit-content;
    margin-left: 90px;
    margin-right: 150px;
}