body {
    margin: 0;
    padding: 0;
    background-color: white;
}

html {
    scroll-behavior: smooth;
    font-family: 'Raleway';
}

#navbar {
    position: fixed;
    z-index: 2;
    width: 100%;
}

#jumbotron {
    padding: 250px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(Photos/—Pngtree—simple\ white\ flat\ vectors\ with_1353884.png);
    opacity: 0.6;
    background-size: 100%;
    background-repeat: no-repeat;
}

#jumbotron h1 {
    text-align: center;
    font-weight: bold;
    font-family: 'Raleway', sans-serif; 
    overflow: hidden; 
    white-space: nowrap; 
    letter-spacing: 4px;
}

#jumbotron h1::after {
    content: "|"; 
    display: inline-block;
    width: 0;
    animation: blink 1s step-end infinite;
}


@keyframes blink {
    50% {
        visibility: hidden;
    }
}

#reviews-heading, #start-now-heading {
    font-family: 'Lato';
    letter-spacing: 2px;
    padding: 40px;
    font-size: 40px;
    font-family: 'Raleway';
}

#card1, #card2{
    margin-bottom: 70px;
    border: solid 2px black;
    width: 20rem;
    font-family: 'Raleway';
}

#card3 {
    margin-left: 42px;
    width: 20rem;
    border: solid 2px black;
}

.card {
    transition: transform 0.3s ease-in-out; 
  }

  .card:hover {
    transform: scale(1.03); 
  }


#reviewer-data {
    margin-top: 10px;
    color: grey;
    font-style: italic;
}

#start-now-heading {
    margin-top: 50px;
}

#nl-jumbotron {
    position: relative;
    background-image: url(Photos/—Pngtree—simple\ white\ flat\ vectors\ with_1353884.png);
    opacity: 0.7;
    padding: 80px;
    font-family: 'Raleway', sans-serif; 
    letter-spacing: 4px;
    font-weight: bold;
    text-align: center;
}

#newsletter {
    margin-left: 100px;
    padding: 30px;
}

#form-text {
    font-size: 20px;
    font-family: 'Raleway';
    letter-spacing: 2px;
}

#nl-form {
    margin-left: 50px;
    padding: 30px;
    font-family: 'Raleway';
}

#successMessage {
    font-size: 20px;
}

#tm {
    text-align: right;
    margin-right: 40px;
    margin-bottom: 10px;
}