body {
    margin: 0;
    padding: 0;
    background-color: snow;
}

html {
    scroll-behavior: smooth;
    font-family: 'Raleway';
}

#navbar {
    position: fixed;
    z-index: 2;
    width: 100%;
}

#jumbotron {
    padding: 250px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(Photos/shapelined-_JBKdviweXI-unsplash.jpg);
    opacity: 0.7;
    background-size: 100%;
    background-repeat: no-repeat;
}

#jumbotron h1 {
    text-align: center;
    font-weight: bold;
    font-family: 'Lato', sans-serif; 
    overflow: hidden; 
    white-space: nowrap; 
    letter-spacing: 4px;
}

#jumbotron h1::after {
    content: "|"; 
    display: inline-block;
    width: 0;
    animation: blink 1s step-end infinite;
}


@keyframes blink {
    50% {
        visibility: hidden;
    }
}

#reviews-heading, #start-now-heading {
    font-family: 'Lato';
    letter-spacing: 2px;
    padding: 40px;
    font-size: 40px;
    font-family: 'Raleway';
}

#card1, #card2{
    margin-bottom: 70px;
    border: solid 2px black;
    width: 20rem;
    font-family: 'Raleway';
}

#card3 {
    margin-left: 42px;
    width: 20rem;
    border: solid 2px black;
}

.card {
    transition: transform 0.3s ease-in-out; 
  }

  .card:hover {
    transform: scale(1.03); 
  }


#reviewer-data {
    margin-top: 10px;
    color: grey;
    font-style: italic;
}

#start-now-heading {
    margin-top: 30px;
}
